p {
  text-align: justify;
  text-justify: inter-ideograph;
}

.katex {
  font-size: 1rem !important;
}

.MuiTableCell-root {
  border-right: 1px solid gray;
  border-left: 1px solid gray;
}

.rv-xy-plot__grid-lines__line {
  stroke: gray;
  stroke-width: 1;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.3rem;
}
